{{- with (datasource "data") -}}
unknown
somedir/test/unknown
.unknown
somedir/test/.unknown
file.unknown
somedir/test/file.unknown
test
test/fixtures
{{- range $key := (.filetypes | coll.Keys | coll.Sort) }}
{{ $key }}
somedir/test/{{ $key }}

{{- if $key | strings.HasPrefix "." }}
file{{ $key }}
somedir/test/file{{ $key }}
{{- end }}

{{- end }}
{{- end }}
